.cards-item {
  margin-top: 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.65);
  width: 220px;
  padding: 22px 20px;
  height: 260px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}
.cards-item img {
  display: block;
  margin: 0 auto;
}
.cards-item__name {
  margin-top: 14px;
}
.cards-item__name a {
  color: #000;
  text-align: center;
  font-family: Merienda;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards-item__sort a {
  margin-top: 10px;
  display: block;
  color: #000;
  text-align: right;
  font-family: Merienda;
  font-size: 14px;
  font-style: normal;
}
.cards-item__price {
  margin-top: 10px;
  color: #000;
  text-align: center;
  font-family: Merienda;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
}
